{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-8 p-4 max-w-lg bg-white shadow-md rounded-lg">
    <!-- Add Flashcards Title -->
    <h1 class="text-2xl font-semibold text-[#9daca2] mb-6 text-center">Add Flashcards</h1>

    <div class="flex flex-row space-x-4">
        <!-- Create Card Button -->
        <button 
            onclick="location.href='{% url 'create_manually' %}'" 
            class="w-full bg-[#b3c6d9] text-gray-700 py-3 rounded-md hover:opacity-90 transition-colors">
            Create Card
        </button>
        
        <!-- Generate from File Button -->
        <button 
            onclick="location.href='{% url 'create_automatically' %}'" 
            class="w-full bg-[#b3d9b3] text-gray-700 py-3 rounded-md hover:opacity-90 transition-colors">
            Generate from File
        </button>
    </div>
</div>
{% endblock %}
